h1 {
    
    color: red;
    text-transform: uppercase;
}

figcaption {
    
    color: darkblue;
}

section {
    
    font-family: 'Roboto', sans-serif;
    font-size: 12;
    margin-left: 5%;
}

a {
    
    text-decoration: none;
    text-transform: uppercase;
}

ul {
    
    list-style-type: none;
}

body {
    
    background-image: url(light-veneer.png)
}